Requirements


Website can be a single page or have multiple pages (the structure is up to you), but it must contain the following information:
About me
Skills (Your tech stack: the languages and tools you use)
Projects/Portfolio (for now this might be a bit empty, but if you’ve worked on anything cool then tell us about it)
A way to contact you - LinkedIn, an email address or a contact form (NB! This will be live on the internet so keep spam concerns in mind)
Host your site as a GitHub Page. In your README file include a link to your GitHub page for easy navigation.
Your portfolio can be a simple single page portfolio that contains the above-mentioned requirements.
Make sure that only the necessary information is presented.
Make sure your stuff is tidy. Use whitespace as needed. Make sure your pictures are not squashed or stretched.
Make sure there are no spelling or grammatical errors.